*{
    font-family: sans-serif;
    box-sizing: border-box;
    color: #303030;
}

body{
    margin: 0;
    padding: 0;
    background-color: #E3E7EB ;
}

section{
    padding: 64px 64px;
    margin: 0 auto;

    max-width: 1500px;
}

                             /* Header */

header{
    background-color: #F4F3F3 ;
}

nav{
    height: 60px;
    margin: 0 auto;
    padding: 0 64px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.left-header{
    display: flex;
    align-items: center;
}  

.left-header img{
      height: 32px;
}

.left-header a{
    margin-left: 40px;
    text-decoration: none;
}

.left-header .active{
    font-weight: bold;
}

.cta-btn{
    text-decoration: none;

    border: none;
    border-radius: 8px;

    color: white;
    background-color: #111727;
    

    font-size: 16px;
    padding: 8px 16px;

    cursor: pointer;
}



                               /* Body */

          /* left side */
.intro{
    border-radius: 8px;

    display: flex;
    max-width: 1600px;

    margin: 0 auto;
    padding: 48px;

    background-color: #FEFEFE;
    box-shadow: 0px 0px 64px rgb(215, 215, 215);
}

.intro-main{
    flex: 2;
    margin-right: 48px;
}

/* TITLE AND DES  */
.intro__title{
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 0px;
}


.intro__des{
    margin: 32px 0px;
    font-size: 18px;
}


/* BTN GROUP */

.btn-group{
    margin: 32px 0;
}

.contact-btn{

    cursor: pointer;
   display: inline-block;
   text-decoration: none;

   color: white;
   background-color: #111727;

   font-size: 18px;
   font-weight: bold;

   border-radius:32px; 
   padding: 16px 32px;
   margin-right: 32px;
}


.download-btn{
      
      cursor: pointer;

      display: inline-flex;
      align-items: center;

      font-size: 18px;
      color: black;
      
}

.download-btn img {
    margin-left: 6px;
}


/* SOCIALS */

.intro__socials{
    margin: 0 auto;
    margin-bottom: 48px;

    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.intro__socials a {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 32px;
    height: 32px;
    padding: 4px 4px;
    margin: 0 8px;

    border-radius: 50vh;
    background-color: black;
    
    text-decoration: none;
}

.fa-brands{
     color: white;
}


        /* right side */

/*  CARD  */
.intro-card{
    overflow: hidden;
    box-shadow: 0px 0px 64px rgb(215, 215, 215);

    width: 400px;
    display: inline-flex;
    flex-direction: column;

    margin: 0 auto;
    border-radius: 12px;
}

.intro-card img{
     width: 100%;
     height: 400px;
     object-fit: cover;
}

.intro-card strong{
    margin-top: 18px;

    font-size: 28px;
    text-align: center;
}

.intro-card p {
    font-size: 20px;
    text-align: center;
    
    margin-top: 4px;
    margin-bottom: 18px;
}
